html, body {
  -webkit-transition: background-color .75s ease;
  transition: background-color .75s ease;
}

@media (prefers-reduced-motion) {
  html, body {
    -webkit-transition: none;
    transition: none;
  }
}

.accessibility-features {
  position: fixed;
  -webkit-transition: -webkit-transform .5s ease-in;
  transition: -webkit-transform .5s ease-in;
  transition: transform .5s ease-in;
  transition: transform .5s ease-in, -webkit-transform .5s ease-in;
  -webkit-transform: translate(-100%, 1.5rem);
          transform: translate(-100%, 1.5rem);
}

.accessibility-features:focus-within {
  -webkit-transform: translate(10%, 1.5rem);
          transform: translate(10%, 1.5rem);
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.accessibility-features:focus-within + .dark-mode-switch {
  -webkit-transform: translate(10rem, 0.75rem);
          transform: translate(10rem, 0.75rem);
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.jump-to-content {
  padding: .5rem;
  background-color: #e6e6e6;
  border-radius: 1rem;
  border: 3px solid #2592db;
  color: #2592db;
  font-size: 1rem;
  text-decoration: none;
}

.jump-to-content:hover, .jump-to-content:focus {
  color: #000000;
}

.jump-to-content:focus-visible {
  outline: none;
}

@media (prefers-reduced-motion) {
  .jump-to-content {
    -webkit-transition: none;
    transition: none;
  }
}

.jump-to-content:hover, .jump-to-content:focus {
  text-decoration: underline;
}

.jump-to-content:focus-visible {
  outline: none;
}

.dark-mode-switch {
  position: fixed;
  padding: .5rem;
  background-color: #e6e6e6;
  border-radius: 1rem;
  border: 3px solid #2592db;
  color: #2592db;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transform: translate(0.5rem, 0.75rem);
          transform: translate(0.5rem, 0.75rem);
  -webkit-transition: -webkit-transform .5s ease-in;
  transition: -webkit-transform .5s ease-in;
  transition: transform .5s ease-in;
  transition: transform .5s ease-in, -webkit-transform .5s ease-in;
}

.dark-mode-switch:hover, .dark-mode-switch:focus {
  color: #000000;
}

.dark-mode-switch:focus-visible {
  outline: none;
}

@media (min-width: 48rem) {
  .dark-mode-switch {
    -webkit-transform: translate(1rem, 0.75rem);
            transform: translate(1rem, 0.75rem);
  }
}

@media print {
  .dark-mode-switch {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .dark-mode-switch {
    display: none;
  }
}

p {
  line-height: 1.4;
}

ul {
  padding: 0 1rem;
}

ul li {
  margin-bottom: .5rem;
}

em {
  font-weight: 300;
}

.page-wrapper > .row {
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 48rem) {
  .page-wrapper > .row {
    max-width: 75rem;
  }
}

.page-wrapper > .row > .col:first-child {
  background-color: #2592db;
  width: 10%;
}

@media print {
  .page-wrapper > .row > .col:first-child {
    display: none;
  }
}

.page-wrapper > .row > .col:last-child {
  background-color: #e6e6e6;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

@media (min-width: 48rem) {
  .page-wrapper > .row > .col:last-child {
    padding: 1.5rem;
  }
}

@media print {
  .page-wrapper > .row > .col:last-child {
    width: 100%;
    background-color: #ffffff;
  }
}

.main-header {
  padding: 1rem 0;
}

@media (min-width: 48rem) {
  .main-header {
    padding: 1rem;
  }
}

.main-header h1 {
  font-weight: 300;
  margin: 0;
}

.main-header h2 {
  margin: 0;
}

@media (min-width: 48rem) {
  .main-header h2 {
    margin-top: .5rem;
  }
}

@media (min-width: 48rem) {
  .info {
    padding: 1rem;
  }
}

.info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  color: #1779ba;
}

.info .icon {
  margin-right: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.5rem;
  color: #1779ba;
}

.info .address, .info .birthday-date {
  color: #0a0a0a;
}

.info a {
  color: #0a0a0a;
  text-decoration: none;
}

.info a:hover, .info a:focus {
  text-decoration: underline;
}

.info .lead {
  margin-top: 2rem;
}

.printBtn {
  padding: .5rem;
  background-color: #e6e6e6;
  border-radius: 1rem;
  border: 3px solid #2592db;
  color: #2592db;
  font-size: 1rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  left: 0.5rem;
  bottom: .5rem;
  font-size: 1.5rem;
}

.printBtn:hover, .printBtn:focus {
  color: #000000;
}

.printBtn:focus-visible {
  outline: none;
}

@media (prefers-reduced-motion) {
  .printBtn {
    -webkit-transition: none;
    transition: none;
  }
}

@media (min-width: 48rem) {
  .printBtn {
    left: 1rem;
    bottom: 1rem;
  }
  .printBtn:hover {
    bottom: 1.5rem;
    left: 1.5rem;
    cursor: pointer;
  }
}

@media print {
  .hide-for-print {
    display: none;
  }
}

.timeline {
  padding: 0 1rem;
  position: relative;
  width: 90%;
}

.timeline::before {
  background: #cacaca;
  content: "";
  height: 100%;
  left: 1rem;
  position: absolute;
  top: 0;
  width: 3px;
}

@media (min-width: 48rem) {
  .timeline::before {
    left: 2.063rem;
  }
}

.timeline::after {
  clear: both;
  content: "";
  display: table;
  width: 100%;
}

.timeline a {
  color: #0a0a0a;
  font-weight: bold;
  text-decoration: none;
}

.timeline a:hover {
  text-decoration: underline;
}

.timeline-dot {
  background-color: #2592db;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  left: -.563rem;
  border: 3px solid #e6e6e6;
}

@media (min-width: 48rem) {
  .timeline-dot {
    left: .5rem;
  }
}

@media print {
  .timeline-dot {
    border-color: #ffffff;
  }
}

.experience .timeline-dot {
  margin-top: .25rem;
}

@media (min-width: 48rem) {
  .experience .timeline-dot {
    margin-top: .5625rem;
  }
}

.education .timeline-dot {
  margin-top: .1875rem;
}

.timeline .skills .timeline-content {
  padding: 0 .75rem;
}

@media (min-width: 48rem) {
  .timeline .skills .timeline-content {
    padding: 0 2rem;
  }
}

.timeline-segment header {
  position: relative;
}

.timeline-segment header .timeline-title {
  padding: .5rem 2.5rem;
  font-size: 1.5rem;
}

@media (min-width: 48rem) {
  .timeline-segment header .timeline-title {
    padding: .75rem 2rem;
    margin: 0 0 0 2rem;
  }
}

.timeline-item {
  padding-left: 2rem;
  position: relative;
}

.timeline-item::after, .timeline-item::before {
  clear: both;
  content: "";
  display: block;
  width: 100%;
}

.timeline-item h2 {
  padding: 0;
  margin: 0 0 0.5rem 0;
  font-size: 1.25rem;
}

@media (min-width: 48rem) {
  .timeline-item h2 {
    padding: .125rem 0;
    font-size: 1.5rem;
  }
}

.timeline-item h3 {
  margin: 0;
  font-size: 1rem;
}

@media (min-width: 48rem) {
  .timeline-item h3 {
    font-size: 1.125rem;
  }
}

.timeline-icon {
  background: #2592db;
  border-radius: 50%;
  height: 50px;
  left: 1rem;
  margin-left: -23px;
  overflow: hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  width: 50px;
  color: #ffffff;
  font-size: 1.675rem;
}

@media (max-width: 767px) {
  .timeline-icon {
    left: 0;
  }
}

.timeline-icon .fa-award {
  font-size: 2rem;
}

.timeline-content {
  padding: 1rem .5rem;
  text-align: left;
  background: transparent;
}

@media (min-width: 48rem) {
  .timeline-content {
    padding: 1rem 2rem;
    width: 70%;
  }
}

@media (max-width: 767px) {
  .timeline-content::before {
    border-left: 0;
    border-right: 7px solid #cacaca;
    left: 10%;
    margin-left: -6px;
  }
}

.timeline-content p {
  color: #0a0a0a;
}

.timeline-content p {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 0;
}

.timeline-segment {
  margin-top: 3rem;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #121212;
  }
}

@media print and (prefers-color-scheme: dark) {
  html, body {
    background-color: inherit;
  }
}

@media (prefers-color-scheme: dark) {
  h1, h2, h3, h4, p, ul, li {
    color: #ffffff;
  }
}

@media print and (prefers-color-scheme: dark) {
  h1, h2, h3, h4, p, ul, li {
    color: inherit;
  }
}

@media (prefers-color-scheme: dark) {
  .page-wrapper > .row > .col:last-child {
    background-color: #2e2e2e;
  }
}

@media print and (prefers-color-scheme: dark) {
  .page-wrapper > .row > .col:last-child {
    background-color: inherit;
  }
}

@media (prefers-color-scheme: dark) {
  .info-row {
    color: #ffffff;
  }
}

@media print and (prefers-color-scheme: dark) {
  .info-row {
    color: inherit;
  }
}

@media (prefers-color-scheme: dark) {
  .info-row .icon {
    color: #2592db;
  }
}

@media print and (prefers-color-scheme: dark) {
  .info-row .icon {
    color: inherit;
  }
}

@media (prefers-color-scheme: dark) {
  .info .address, .info .birthday-date, .info a {
    color: #ffffff;
  }
}

@media print and (prefers-color-scheme: dark) {
  .info .address, .info .birthday-date, .info a {
    color: inherit;
  }
}

@media (prefers-color-scheme: dark) {
  .timeline-dot {
    border-color: #2e2e2e;
  }
}

@media print and (prefers-color-scheme: dark) {
  .timeline-dot {
    border-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  .timeline-content p, .timeline-content a, .timeline-content strong, .timeline-content em {
    color: #ffffff;
  }
}

@media print and (prefers-color-scheme: dark) {
  .timeline-content p, .timeline-content a, .timeline-content strong, .timeline-content em {
    color: inherit;
  }
}

.dark-mode html, .dark-mode body {
  background-color: #121212;
}

@media print {
  .dark-mode html, .dark-mode body {
    background-color: inherit;
  }
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode p, .dark-mode ul, .dark-mode li {
  color: #ffffff;
}

@media print {
  .dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode p, .dark-mode ul, .dark-mode li {
    color: inherit;
  }
}

.dark-mode .page-wrapper > .row > .col:last-child {
  background-color: #2e2e2e;
}

@media print {
  .dark-mode .page-wrapper > .row > .col:last-child {
    background-color: inherit;
  }
}

.dark-mode .info-row {
  color: #ffffff;
}

@media print {
  .dark-mode .info-row {
    color: inherit;
  }
}

.dark-mode .info-row .icon {
  color: #2592db;
}

@media print {
  .dark-mode .info-row .icon {
    color: inherit;
  }
}

.dark-mode .info .address, .dark-mode .info .birthday-date, .dark-mode .info a {
  color: #ffffff;
}

@media print {
  .dark-mode .info .address, .dark-mode .info .birthday-date, .dark-mode .info a {
    color: inherit;
  }
}

.dark-mode .timeline-dot {
  border-color: #2e2e2e;
}

@media print {
  .dark-mode .timeline-dot {
    border-color: #ffffff;
  }
}

.dark-mode .timeline-content p, .dark-mode .timeline-content a, .dark-mode .timeline-content strong, .dark-mode .timeline-content em {
  color: #ffffff;
}

@media print {
  .dark-mode .timeline-content p, .dark-mode .timeline-content a, .dark-mode .timeline-content strong, .dark-mode .timeline-content em {
    color: inherit;
  }
}
/*# sourceMappingURL=App.css.map */