$white: #ffffff;
$black: #000000;
$gold: gold;
$medium-gray: #cacaca;
$text-color: #0a0a0a;
$radiant-blue: #2592db;
$light-gray: #e6e6e6;
$primary-color: #1779ba;
$medium-breakpoint: 48rem;
$large-breakpoint: 64rem;

@mixin button-style { padding: .5rem; border-radius: 1rem; border: 3px solid $radiant-blue; color: $radiant-blue; font-size: 1rem;
    &:hover, &:focus { color: $black; }
    &:focus-visible { outline: none; }
}