@import 'base';

body { margin: 0; font-family: "Rubik", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
img { max-width:100%; height:auto; }

p { line-height:1.4; }
em { font-weight:300; }
ul { padding:0 1rem;
    li { margin-bottom:.5rem; }
}

.row { max-width:100%; margin:0 auto; display:flex;
    @media (min-width:$medium-breakpoint) { max-width:75rem; }
}

.col { flex:1; }

.page-wrapper {
    @media (min-width:$large-breakpoint) { padding:5rem; }
}

.main-header {
    @media (min-width:$medium-breakpoint) { display:flex; min-height:30rem; position:relative; }
    &:before, &:after { content:''; position:absolute; }
    &:before { background-color:$gold; width:100%; height:5rem; top:0; right:0; z-index:-1;
        @media (min-width:$medium-breakpoint) { width:24.75rem; height:100%;  }
    }
    &:after { width:2rem; height:2rem; top:.5rem; right:.5rem;  border-top:1px solid #000; border-right:1px solid #000;
        @media (min-width:$medium-breakpoint) { width:3rem; height:3rem; top:1.5rem; right:1.5rem; }
    }
    .info { margin-top:1rem;
        @media (min-width:$medium-breakpoint) { position:relative; margin-top:auto; margin-bottom:auto; }
        &-wrapper { margin-top:5rem; padding:1rem; text-align:right;
            @media (min-width:$medium-breakpoint) { display:flex; flex-direction:column; flex:1; margin-top:0; padding:0 0 0 1rem; text-align:left; }
        }
        &:after { content:''; display:inline-block; background-color:$black; width:3rem; height:.5rem; }
        p { margin:0; }
    }
    h1 { font-size:2rem; font-weight:300; margin-top:0; margin-bottom:0; line-height:1;
        @media (min-width:$medium-breakpoint) { font-size:5rem; font-weight:800; }
    }
    h2 { margin:0; font-weight:400;
        @media (min-width:$medium-breakpoint) { margin-top:.5rem; }
    }
    h3 { position:relative; font-weight:600; font-size:3rem; margin:0 -.25rem 0 0; letter-spacing:-2px; text-align:center;
        @media (min-width:$medium-breakpoint) { position:absolute; bottom:0; font-size:10rem; line-height:7rem; }
        &:after { content:''; position:absolute; bottom:-.5rem; left:-.5rem; border-bottom:1px solid #000; border-left:1px solid #000; width:2rem; height:2rem;
            @media (min-width:$medium-breakpoint) { bottom:-1.5rem; right:auto; left:-8.5rem; width:3rem; height:3rem; }
            @media (min-width:$large-breakpoint) { left:-12.5rem; }
        }
    }
}

.main-section { padding: 1rem;
    @media (min-width:$medium-breakpoint) { padding: 4rem 0; }
    .image-wrapper { display:flex; align-items:flex-end; text-align:center;
        &:before, &:after { content:''; display:inline-block; margin-left:auto; }
        &::before { width:3rem; height:3rem; background-color:$gold;
            @media (min-width:$medium-breakpoint) { width:5rem; height:5rem; }
        }
        &:after { width:1rem; height:1rem; background-color:$black;
            @media (min-width:$medium-breakpoint) { width:2rem; height:2rem; }
        }
    }
    picture { display:flex; flex:0 0 50%; margin-left:1rem; margin-right:1rem;
        @media (min-width:$medium-breakpoint) { margin-left:2rem; margin-right:2rem; }
    }
}